<database>
    type                        mysql
    host                        localhost
    database                    hypermouse
    username                    hypermouse
    password                    ****************
    password_encryption_key     ****************
</database>
