#
# Here you can configure timeperiods for further usage
#

<timeperiod Never>
    period \
        NONE
</timeperiod>

<timeperiod Always>
    period \
        sec(0-59)
</timeperiod>

<timeperiod Nightly>
    period \
        HR(8pm-7am)
</timeperiod>

<timeperiod NonWorkingHours>
    period \
        WD(Mon-Fri) HR(12am-7pm), \
        WD(Mon-Fri) HR(8pm-11pm), \
        WD(Sat-Sun)
</timeperiod>

<timeperiod NonWorkingHoursButSaturdays>
    period \
        WD(Mon-Sat) HR(12am-7pm), \
        WD(Mon-Sat) HR(8pm-11pm), \
        WD(Sun)
</timeperiod>



#
# You must list all domains for taking snapshots
#

<domain ROOT/*>
    available   Always
    frequency   43200   # 43200 seconds = 12 hours
    keep        2
</domain>

<domain ROOT/CUSTOMERS/A000000/>

<domain ROOT/CUSTOMERS/A000001/>

<domain ROOT/CUSTOMERS/A000002/>



#
# You'll probably want to inherit some parameters from the domain this volume belongs to
#

<volume *>
    <inherit>
        <domain>
            available   careful # "careful" or "forced", it's easy to guess what it's for
            frequency   careful
            keep        careful
        </domain>
    </inherit>
</volume>



#
# Your hosts must be configured as available
#

<host *>
    available    Always
    flows        1
</host>

<host *.c2.p1.z1.tucha13.net>
    available   Never
</host>



#
# Storagepools must be configured just as hosts
#

<storagepool *>
    available    Always
    flows        1
</storagepool>

<storagepool *.c2.p1.z1.tucha13.net>
    available   Never
</host>



#
# They're important
#

<timings>
    sleep_between_loops     60
    keep_objects            600
</timings>
