<timeperiod Never>
	period  NONE
</timeperiod>

<timeperiod Always>
	period  sec(0-59)
</timeperiod>

<timeperiod Nightly>
	period	HR(8pm-7am)
</timeperiod>

<timeperiod NonWorkingHours>
	period	WD(Mon-Fri) HR(12am-7pm), \
		WD(Mon-Fri) HR(8pm-11pm), \
		WD(Sat-Sun)
</timeperiod>

<timeperiod NonWorkingHoursButSaturdaysAreWorking>
	period	WD(Mon-Sat) HR(12am-7pm), \
		WD(Mon-Sat) HR(8pm-11pm), \
		WD(Sun)
</timeperiod>



<host *>
	available	Always
	flows		1
</host>



<storage *>
	available	Always
	flows		1
</storage>



<domain ROOT/*>
	available	Nightly
	frequency	43200   # 43200 seconds = 12 hours
</domain>
<domain ROOT/CUSTOMERS/XZ13>
	available	NonWorkingHours
</domain>
<domain ROOT/CUSTOMERS/XZ666/>
<domain ROOT/CUSTOMERS/XZ667/>
<domain ROOT/CUSTOMERS/XZ668/>
<domain ROOT/ZALOOPA>
	exclude_instance XXX
	exclude_instance YYY
	exclude_instance ZZZ
	exclude_volume ROOT-XXX
	exclude_volume DATA-XXX
	exclude_volume ROOT-YYY
	exclude_volume SHIT-YYY
	exclude_volume ROOT-ZZZ
	exclude_volume CRAP-ZZZ
</domain>
<domain ROOT/TUCHASHIELD/>
