log4perl.category.MonkeyMan                                 = ALL, screen, monkeyman, cloudstack, xml, undef

log4perl.appender.screen                                    = Log::Log4perl::Appender::Screen
log4perl.appender.screen.layout                             = Log::Log4perl::Layout::PatternLayout
log4perl.appender.screen.layout.ConversionPattern           = <% $log_screen_pattern %>
log4perl.appender.screen.Filter                             = screen
log4perl.filter.screen                                      = Log::Log4perl::Filter::Boolean
log4perl.filter.screen.logic                                = screen_loglevel && !cloudstack && !xml
log4perl.filter.screen_loglevel                             = Log::Log4perl::Filter::LevelRange
log4perl.filter.screen_loglevel.LevelMin                    = <% $log_screen_loglevel %>
log4perl.filter.screen_loglevel.AcceptOnMatch               = true

log4perl.appender.monkeyman                                 = Log::Dispatch::FileRotate
log4perl.appender.monkeyman.layout                          = Log::Log4perl::Layout::PatternLayout
log4perl.appender.monkeyman.layout.ConversionPattern        = %d [%p{1}] %m%n
log4perl.appender.monkeyman.filename                        = /home/mmkeeper/monkeyman/var/log/monkeyman.log
log4perl.appender.monkeyman.mode                            = append
log4perl.appender.monkeyman.autoflush                       = 1
log4perl.appender.monkeyman.size                            = 10485760
log4perl.appender.monkeyman.max                             = 10
log4perl.appender.monkeyman.Filter                          = monkeyman
log4perl.filter.monkeyman                                   = Log::Log4perl::Filter::Boolean
log4perl.filter.monkeyman.logic                             = monkeyman_loglevel && !cloudstack && !xml
log4perl.filter.monkeyman_loglevel                          = Log::Log4perl::Filter::LevelRange
log4perl.filter.monkeyman_loglevel.LevelMin                 = ALL
log4perl.filter.monkeyman_loglevel.AcceptOnMatch            = true

log4perl.appender.undef                                     = Log::Dispatch::FileRotate
log4perl.appender.undef.layout                              = Log::Log4perl::Layout::PatternLayout
log4perl.appender.undef.layout.ConversionPattern            = %d %F:%L %M %m%n
log4perl.appender.undef.filename                            = /home/mmkeeper/monkeyman/var/log/undef.log
log4perl.appender.undef.mode                                = append
log4perl.appender.undef.autoflush                           = 1
log4perl.appender.undef.size                                = 10485760
log4perl.appender.undef.max                                 = 10
log4perl.appender.undef.Filter                              = undef
log4perl.filter.undef                                       = Log::Log4perl::Filter::StringMatch
log4perl.filter.undef.StringToMatch                         = \[UNDEF\]
log4perl.filter.undef.AcceptOnMatch                         = true

log4perl.appender.cloudstack                                = Log::Dispatch::FileRotate
log4perl.appender.cloudstack.layout                         = Log::Log4perl::Layout::PatternLayout
log4perl.appender.cloudstack.layout.ConversionPattern       = %d %M %m%n
log4perl.appender.cloudstack.filename                       = /home/mmkeeper/monkeyman/var/log/cloudstack.log
log4perl.appender.cloudstack.mode                           = append
log4perl.appender.cloudstack.autoflush                      = 1
log4perl.appender.cloudstack.size                           = 10485760
log4perl.appender.cloudstack.max                            = 10
log4perl.appender.cloudstack.Filter                         = cloudstack
log4perl.filter.cloudstack                                  = Log::Log4perl::Filter::StringMatch
log4perl.filter.cloudstack.StringToMatch                    = ^\[CLOUDSTACK\]\s+
log4perl.filter.cloudstack.AcceptOnMatch                    = true

log4perl.appender.xml                                       = Log::Dispatch::FileRotate
log4perl.appender.xml.layout                                = Log::Log4perl::Layout::PatternLayout
log4perl.appender.xml.layout.ConversionPattern              = %d %M %m%n
log4perl.appender.xml.filename                              = /home/mmkeeper/monkeyman/var/log/xml.log
log4perl.appender.xml.mode                                  = append
log4perl.appender.xml.autoflush                             = 1
log4perl.appender.xml.size                                  = 10485760
log4perl.appender.xml.max                                   = 10
log4perl.appender.xml.Filter                                = xml
log4perl.filter.xml                                         = Log::Log4perl::Filter::StringMatch
log4perl.filter.xml.StringToMatch                           = ^\[XML\]\s+
log4perl.filter.xml.AcceptOnMatch                           = true

