log4perl.filter.loglevel                                    = Log::Log4perl::Filter::LevelRange
log4perl.filter.loglevel.LevelMin                           = ALL
log4perl.filter.loglevel.AcceptOnMatch                      = true

log4perl.appender.monkeyman                                 = Log::Dispatch::FileRotate
log4perl.appender.monkeyman.layout                          = Log::Log4perl::Layout::PatternLayout
log4perl.appender.monkeyman.layout.ConversionPattern        = %d [%p{1}] %m%n
log4perl.appender.monkeyman.filename                        = /opt/monkeyman/var/log/monkeyman.log
log4perl.appender.monkeyman.mode                            = append
log4perl.appender.monkeyman.autoflush                       = 1
log4perl.appender.monkeyman.size                            = 10485760
log4perl.appender.monkeyman.max                             = 10
log4perl.appender.monkeyman.Filter                          = monkeyman
log4perl.filter.monkeyman                                   = Log::Log4perl::Filter::Boolean
log4perl.filter.monkeyman.logic                             = loglevel && !cloudstack_api && !dom_objects

log4perl.appender.cloudstack_api                            = Log::Dispatch::FileRotate
log4perl.appender.cloudstack_api.layout                     = Log::Log4perl::Layout::PatternLayout
log4perl.appender.cloudstack_api.layout.ConversionPattern   = %d %M %m%n
log4perl.appender.cloudstack_api.filename                   = /opt/monkeyman/var/log/cloudstack-api.log
log4perl.appender.cloudstack_api.mode                       = append
log4perl.appender.cloudstack_api.autoflush                  = 1
log4perl.appender.cloudstack_api.size                       = 10485760
log4perl.appender.cloudstack_api.max                        = 10
log4perl.appender.cloudstack_api.Filter                     = cloudstack_api
log4perl.filter.cloudstack_api                              = Log::Log4perl::Filter::StringMatch
log4perl.filter.cloudstack_api.StringToMatch                = \[MM[<>]CS\]\s+
log4perl.filter.cloudstack_api.AcceptOnMatch                = true

log4perl.appender.dom_objects                               = Log::Dispatch::FileRotate
log4perl.appender.dom_objects.layout                        = Log::Log4perl::Layout::PatternLayout
log4perl.appender.dom_objects.layout.ConversionPattern      = %d %M %m%n
log4perl.appender.dom_objects.filename                      = /opt/mmkeeper/monkeyman/var/log/dom-objects.log
log4perl.appender.dom_objects.mode                          = append
log4perl.appender.dom_objects.autoflush                     = 1
log4perl.appender.dom_objects.size                          = 10485760
log4perl.appender.dom_objects.max                           = 10
log4perl.appender.dom_objects.Filter                        = dom_objects
log4perl.filter.dom_objects                                 = Log::Log4perl::Filter::StringMatch
log4perl.filter.dom_objects.StringToMatch                   = ^\[[<>]DOM[<>]\]\s+
log4perl.filter.dom_objects.AcceptOnMatch                   = true

