<security>
  desired_euid = 500
  desired_egid = 500
</security>



# Logging facilities

<logger>
    <PRIMARY>
        log4perl = /home/mmkeeper/monkeyman/etc/logger/PRIMARY.conf
        <dump>
            enabled         = 1
            introspect_xml  = 1
            directory       = /home/mmkeeper/monkeyman/var/dump
        </dump>
        <colorscheme>
            NORMAL          = reset
            ACCENTED        = bright_white
            PARAMETER       = rgb332
            WARNING         = red
            LEVEL_TRACE     = bright_cyan
            LEVEL_DEBUG     = cyan
            LEVEL_INFO      = white
            LEVEL_WARNING   = magenta
            LEVEL_ERROR     = red
            LEVEL_FATAL     = bright_red
            CATEGORY        = rgb541
            REF_CLASS       = bright_cyan
            REF_ADDRESS     = cyan
            REF_MD5SUM      = cyan
        </colorscheme>
    </PRIMARY>
    <ALT>
        log4perl = /home/mmkeeper/monkeyman/etc/logger/ALT/log4perl.conf
        <dump>
            enabled         = 0
            introspect_xml  = 0
        </dump>
    </ALT>
</logger>



# Apache CloudStack connectors

<cloudstack>
    <PRIMARY>
        include /home/mmkeeper/monkeyman/etc/cloudstack/PRIMARY/api.conf
        <cache>
            enabled     = 1
            ttl         = 300
            never       = volume,virtualmachine,snapshot
        </cache>
    </PRIMARY>
    <Tucha>
        include /home/mmkeeper/monkeyman/etc/cloudstack/Tucha/api.conf
        <cache>
            enabled     = 1
            ttl         = 300
            never       = volume,virtualmachine,snapshot
        </cache>
    </TDWebServices>
    <CloudBrix>
        include /home/mmkeeper/monkeyman/etc/cloudstack/CloudBrix/api.conf
        <cache>
            enabled     = 1
            ttl         = 300
            never       = volume,virtualmachine,snapshot
        </cache>
    </CloudBrix>
    <eManualOnline>
        include /home/mmkeeper/monkeyman/etc/cloudstack/eManualOnline/api.conf
        <cache>
            enabled     = 1
            ttl         = 300
            never       = volume,virtualmachine,snapshot
        </cache>
    </eManualOnline>
    <TDWebServices>
        include /home/mmkeeper/monkeyman/etc/cloudstack/TDWebServices/api.conf
        <cache>
            enabled     = 1
            ttl         = 300
            never       = volume,virtualmachine,snapshot
        </cache>
    </TDWebServices>
</cloudstack>



# Zendesk connectors

<zendesk>
    <PRIMARY>
        include /home/mmkeeper/monkeyman/etc/zendesk/PRIMARY.conf
    </PRIMARY>
    <Tucha>
        include /home/mmkeeper/monkeyman/etc/zendesk/Tucha.conf
    </Tucha>
</zendesk>



# Password generators and their policies

<password_generator>
    <PRIMARY>
        length          = 13
        policy          = mix
    </PRIMARY>
</password_generator>
