include /opt/monkeyman/etc/mysql.conf

<log>
    conf         = /opt/monkeyman/etc/log.conf
</log>

<email>
    support      = admin@tucha.ua
</email>

<cloudstack>

    include /opt/monkeyman/etc/cloudstack_api.conf

    demo_domain_id  = 2

    <cache>
        enabled
        ttl         = 300
        never       = volume,virtualmachine,snapshot
    </cache>
        
</cloudstack>

<time>
    timezone            = 'Europe/Bucharest'
    sleep_while_waiting = 3
</time>

